<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">Climate Solutions</a>
  </div>

  <div class="navbar-center flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about">About</a></li>
      <li>
        <details>
          <summary>Sector</summary>
          <ul class="p-2 bg-base-100 right-0">
            <li><a href="/solutions/projects?sector=Land Sinks">Land Sinks</a></li>
            <li><a href="/solutions/projects?sector=Industry">Industry</a></li>
            <li><a href="/solutions/projects?sector=Transportation">Transportation</a></li>
            <li><a href="/solutions/projects?sector=Electricity">Electricity</a></li>
            <li><a href="/solutions/projects?sector=Food, Agriculture, and Land Use">Food, Agriculture, and Land Use</a></li>
            <li class="border-t border-gray-500 mt-2 pt-2">
            <a href="/solutions/projects">View All</a>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
<div class="flex-none">
  <% if (!session.user) { %>
    <a href="/login" class="btn btn-ghost normal-case">Log In</a>
  <% } else { %>
    <a href="/logout" class="btn btn-ghost normal-case">Log Out (<%= session.user.userName %>)</a>
  <% } %>
</div>
</div>
</div>